:root {
    --bluePrimary: #126594;
    --blueSecondary: #9fd0e3;
    --blue: #032a49;
    --black: #000;
    --white: #fff;
}

* {
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    overflow: hidden;
}

.error {
    color: red;
}

body {
    overflow: auto;
    height: 100vh;
    background-image: url("/assets/images/background6.jpg");
    margin: auto;
}

/* Header Styles */

.container {
    height: 250px;
    width: 100%;
    display: flex;
}

.title {
    font-size: 58px;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-top: -194px;
    user-select: none;
}

.container-header {
    height: 70px;
    width: 99.3%;
    display: flex;
    background-color: var(--white);
}

header {
    position: absolute;
    display: flex;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
    user-select: none;
}

.logo {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    place-content: center;
}

.logo img {
    height: inherit;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: var(--black);
    padding: 7px 15px;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}

.menu li a:hover {
    background-color: #05467a;
    color: white;
}

.menu {
    width: 85%;
    text-align: left;
    align-self: center;
}

/* End Header Styles */

.container-slideshow {
    padding-top: 30px;
    max-width: 1000px;
    
    margin: auto;
    width: 40%;
}

.mySlides {
    display: none;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    color: var(--black);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 30px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.mySlides img {
    height: 350px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: var(--blueSecondary);
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 250px;
    width: 90%;
}

.grid-item img {
    height: inherit;
    width: inherit;
    transition: all .5s;
}

.grid-item:hover img, .grid-item:focus img {
    transform: scale(1.2);
}

.container-body {
    width: 100%;
    background-color: var(--backgroudColor);
}

/* Footer Styles */

.container-footer {
    
    background-color: #032a49;
    display: grid;
    grid-template-columns: 400px 50px 400px 50px 400px;
    height: 160px;
    padding-top: 50px;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 15px;
    user-select: none;
}

.footer-item {
    padding: 10px;
    font-size: 30px;
    height: 250px;
    text-align: center;
    justify-content: center;
    color: var(--white);
}

.footer-item ul {
    font-size: 16px;
    margin-top: -20px;
}

.lista {
    text-align: left;
}

.lista ul {
    margin-top: 60px;
}

.lista li {
    margin-left: 40px;
}

.lista li i {
    margin-right: 8px;
}

.footer-item li i {
    font-size: 16px;
}

.footer-item li span {
    margin-right: 8px;
    vertical-align: middle;
}

.footer-item a span i {
    font-size: 35px;
    margin: 10px;
    margin-top: -20px;
}

.footer-item a span i:hover {
    transform: scale(1.2);
}

.line {
    margin-bottom: 35px;
    background-color: var(--white);
    color: var(--white);
    border-color: var(--white);
    width: 100%;
    opacity: 1;
}

/* End Footer Styles */

.grid-about {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: var(--white);
}

.grid-item-about {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.grid-item-about img {
    height: inherit;
    width: inherit;
}

.grid-academia {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: var(--white);
}

.grid-item-academia {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.grid-item-academia img {
    height: inherit;
    width: inherit;
}

.grid-produccion {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: var(--blue);
}

.grid-item-produccion {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.grid-item-produccion img {
    height: inherit;
    width: inherit;
}

.grid-eventos {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: var(--white);
}

.grid-item-eventos {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.grid-item-eventos img {
    height: inherit;
    width: inherit;
}

.grid-recreacion {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: var(--blue);
    margin-bottom: -15px;
}

.grid-item-recreacion {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.grid-item-recreacion img {
    height: inherit;
    width: inherit;
}

.banner-services {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    background-image: url("/assets/images/estudio.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    
    margin-bottom: -15px;
    margin-top: 15px;
    color: var(--white);
    flex-direction: column;
}

.banner-services-text {
    font-size: 40px;
    margin-top: -10px;
}

.banner-services-button {
    background-color: #043862;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 125px;
    margin-top: -40px;
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    align-self: center;
    cursor: pointer;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.banner-services-button:hover {
    background-color: #065493;
}

.banner-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    background-image: url("/assets/images/contact.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    
    margin-bottom: -15px;
    margin-top: 15px;
    color: var(--white);
    flex-direction: column;
}

.banner-contact-text {
    font-size: 40px;
    margin-top: -10px;
}

.banner-contact-button {
    background-color: #043862;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 150px;
    margin-top: -40px;
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    align-self: center;
    cursor: pointer;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.banner-contact-button:hover {
    background-color: #065493;
}

.banner-about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    background-image: url("/assets/images/banner_micro.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    
    margin-bottom: -15px;
    margin-top: 15px;
    color: var(--white);
    flex-direction: column;
}

.banner-about-text {
    font-size: 40px;
    margin-top: -10px;
}

.banner-about-button {
    background-color: #043862;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 150px;
    margin-top: -40px;
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    align-self: center;
    cursor: pointer;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.banner-about-button:hover {
    background-color: #065493;
}

.grid-home {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: var(--white);
}

.grid-item-home {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.grid-item-home img {
    height: inherit;
    width: inherit;
}

.grid-map {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    background-color: var(--blue);
    margin-bottom: -15px;
}

.grid-item-map {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.map iframe {
    border-radius: 5px;
    width: 600px;
    height: 350px;
}